a, a:link, a:visited {
  color: inherit;
  text-decoration: none; }

body {
  line-height: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif; }

nav {
  font-size: 11px;
  font-weight: bold; }
  nav a {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }
  nav li.active a, nav li.active a:link {
    position: relative;
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.95); }

.tooltip {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.95); }

.notice {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
